@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

a {
  color: #fff;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-transform: uppercase;
  font-size: 12px;
}

.input-field label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.purple {
  color: #5b69b1;
}

.red {
  color: #ea6668;
}

.marginTop {
  margin-top: 20px;
}

.green {
  color: #70ffa2;
}

.label {
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1.5px;
  border: 1px solid #fbf38c;
  font-size: 11px;
  cursor: pointer;
  color: #fbf38c;
}

.long {
  color: #a6ff8f;
  border-color: #a6ff8f;
  font-weight: bold;
}

.short {
  color: #ff1460;
  border-color: #ff1460;
  font-weight: bold;
}

.label-green {
  color: #70ffa2;
  border: 1px solid #70ffa2;
  font-weight: bold;
  padding: 5px;
  font-size: 11px;
  letter-spacing: 1.5px;
}

.label-red {
  color: #ff1460;
  border: 1px solid #ff1460;
  font-weight: bold;
  padding: 5px;
  font-size: 11px;
  letter-spacing: 1.5px;
}

.blue {
  color: #60c3ff;
}

.input-icon {
  position: absolute;
  font-size:13px;
  top: 15px;
  left: 9px;
  color: #60c3ff;
}

.center {
  text-align: center;
}

.marginRight {
  margin-right: 10px;
}

.small {
  font-size: 13px;
}

.smallinput {
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1.5px;
  background: #111116;
  border: 1px solid #5e89fb;
  font-size: 11px;
  color: #fff;
  width: 50px;
}

.input-icon-right {
  position: absolute;
  font-size:13px;
  top: 15px;
  right: 20px;
  color: #60c3ff;
}

.input-field {
  position: relative;
}

body, html {
    height: 100%;
    margin: 0;
}

* {
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

body {
  background: #111116;
  color: #fff;
}

h1 {
  color: #26DEFF;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size:20px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.fixed-width {
  width: 400px;
}

label {
  display: block;
  font-weight: bold ;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 13px;
}

.nopadding {
  padding: 0;
}

#container {
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 740px;
}

.section {
  margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none;
    outline: none;
    -webkit-transition: .2s;
    font-size: .8em;
    height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #111116;
    border: 1px solid #5e89fb;
    margin-left: 10px;
}

.center {
  text-align: center;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
      background: #5e89fb;
    cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

::placeholder {
    color: #fbf38c;
}

.entry-input {
  font-size: .8em;
}

.marginLeft {
  margin-left: 10px;
}

.calcinput {
  text-indent: 10px;
  font-size: .8em;
  height: 10px;
  padding: 20px 20px 20px 20px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  background: #111116;
  border: 1px solid #5e89fb;
  margin-bottom: 10px;
  color: #fff;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
