<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bitmex Profitability Calculator</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>

<body>
  <div id="container">
    <label class="red">Risk Calculator</label>

    <div class="grid section">
      <div>
        <div style="display: grid; grid-template-columns: 33.3% 33.3% 33.3%; ">
          <div class="input-field">
            <span class="input-icon fab fa-btc"></span>
            <input class="calcinput center" placeholder="BTC" style="width: calc(100% - 10px)" id="accountField"
              v-model.number="account" placeholder="" type="number" step=".01" oninput="data.set('account', this.value);">
          </div>

          <div class="input-field">
            <span class="input-icon fas fa-percentage"></span>
            <input class="calcinput" style="width: calc(100% - 10px)" v-model.number="percentRisk" placeholder="Risk"
              type="number" step=".5" oninput="data.set('percentRisk', this.value);">
          </div>

          <div class="input-field">
            <span class="input-icon fas fa-times"></span>
            <input class="calcinput center" v-model.number="leverage" type="number" min="1" max="100" step="1"
              placeholder="1x" oninput="data.set('leverage', this.value);">
          </div>
        </div>

        <div class="input-field">
          <span class="input-icon center far fa-arrow-alt-circle-right"></span>
          <input class="calcinput" v-model.number="entry" placeholder="Entry" type="number" step="1" oninput="data.set('entry', this.value);">
        </div>

        <div class="input-field">
          <span class="input-icon far fa-arrow-alt-circle-left"></span>
          <input class="calcinput" v-model.number="exit" type="number" placeholder="Exit" step="1" oninput="data.set('exit', this.value);">
        </div>

        <div class="input-field">
          <span class="input-icon far fa-times-circle "></span>
          <input class="calcinput" v-model.number="stopLoss" type="number" placeholder="Stop Loss" step="1" oninput="data.set('stopLoss', this.value);">
        </div>
      </div>

      <div>
        <ul class="grid">
          <li>
            <span class="label fixed-width">XBT-USD</span> <span v-if="xbtusd">${{ xbtusd }}</span>
          </li>

          <li>
            <span class="label">Account</span> <span v-if="account">${{ usdAccount }}</span>
          </li>
        </ul>

        <ul>
          <li>
            <span class="label">Position</span> <span v-if="entry && exit && !(entry == exit)" class="label"
              v-bind:class="isLong">{{ isLong }} <span v-if="isLong == 'long'" class="fas fa-angle-double-up"></span><span
                v-if="isLong == 'short'" class="fas fa-angle-double-down"></span>
          </li>

          <li>
            <span class="label">Risk-Reward</span> <span v-if="entry && exit && stopLoss && !(entry == exit)">{{
              rrRatio }} (<span class="red">{{ risk }}%</span> / <span class="green">{{ reward }}%</span>)</span>
          </li>


          <ul class="grid" style="margin: 0; padding: 0;">
            <li>
              <span class="label-green">Profit</span> <span class="green" v-if="percentRisk && account && entry && exit && stopLoss && !(entry == exit)">${{
                (reward/100 * positionSize).toFixed(0) }}</span>
            </li>

            <li>
              <span class="label-red">Loss</span> <span class="red" v-if="percentRisk && account && entry && exit && stopLoss && !(entry == exit)">-${{
                accountRisk }}</span>
            </li>
          </ul>

          <li>
            <span class="label">Position Size</span> <input type="text" class="marginRight center smallinput"
              v-model.number="positionSize"><span v-if="percentRisk && account && entry && exit && stopLoss && !(entry == exit)"><span
                class="blue small">฿{{ ( (positionSize / leverage) / xbtusd ).toFixed(2) }} @ {{ leverage }}X</span></span>
          </li>

          <a href="entry && exit && stopLoss && !(entry == exit)" onclick="saveTrade();"><span class="far fa-save"
              style="margin-right: 5px;"></span>Save Setup</a>
        </ul>
      </div>
    </div>

    <div class="section">
      <label class="purple">Average Entry Calculator</label>

      <div class="input-field">
        <span class="input-icon fas fa-dollar-sign"></span>
        <input class="entry-input calcinput" v-model="entries" placeholder="Entries" type="text" oninput="setLocalData('entries', this.value);">

        <span onclick="clipboard();" class="label" style="float: right;" v-if="average > 0" style="text-align:right;">
          <span class="far fa-copy"></span> {{ '$' + average }}
        </span>
      </div>
    </div>
  </div>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-127043096-1');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="js/main.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127043096-1"></script>


</body>

</html>